.list-group-item{
    padding:0;
    padding-left:5px;
}
span.btn_form_userdetails_dayname_edit i.fa-times{
    padding:7px;
}
div.input-group.day_title{
    border-bottom: 1px solid black;
        

}
h5.dayname i:hover{
cursor: pointer;
}